## Basic EDA & Cleaning the data

In [1]:
import pandas as pd
import numpy as np
import nltk

In [2]:
df = pd.read_csv("data.csv/data.csv")

In [3]:
df.head()

,Unnamed: 0,ID,Content,Summary,Dataset
0,0,f49ee725a0360aa6881ed1f7999cc531885dd06a,New York police are concerned drones could bec...,Police have investigated criminals who have ri...,CNN/Daily Mail
1,1,808fe317a53fbd3130c9b7563341a7eea6d15e94,By . Ryan Lipman . Perhaps Australian porn sta...,Porn star Angela White secretly filmed sex act...,CNN/Daily Mail
2,2,98fd67bd343e58bc4e275bbb5a4ea454ec827c0d,"This was, Sergio Garcia conceded, much like be...",American draws inspiration from fellow country...,CNN/Daily Mail
3,3,e12b5bd7056287049d9ec98e41dbb287bd19a981,An Ebola outbreak that began in Guinea four mo...,World Health Organisation: 635 infections and ...,CNN/Daily Mail
4,4,b83e8bcfcd51419849160e789b6658b21a9aedcd,By . Associated Press and Daily Mail Reporter ...,A sinkhole opened up at 5:15am this morning in...,CNN/Daily Mail

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 870521 entries, 0 to 870520
Data columns (total 5 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Unnamed: 0  870521 non-null  int64
 1   ID          814305 non-null  object
 2   Content     870487 non-null  object
 3   Summary     870521 non-null  object
 4   Dataset     870521 non-null  object
dtypes: int64(1), object(4)
memory usage: 33.2+ MB

In [5]:
df.iloc[0]['Content']

"New York police are concerned drones could become tools for terrorists, and are investigating ways to stop potential attacks. Until now police haven't acknowledged drones as a potential weapon, but the NYPD has now said the technology has advanced enough that someone could use them to carry out an air assault using chemical weapons and firearms. Police want to develop technology which will allow them to take control of drones as well as scan the skies for them before major events. The NYPD says drones carrying explosives are the number one threat as they investigate ways to stop attacks . Deputy Chief Salvatore DiPace, left, was concerned about an incident last year where a drone was landed in front of German Chancellor Angela Merkel and 'could have took the chancellor and her people out' A drone which was flown over a packed football stadium in Manchester, England, just over a week ago, resulting in the suspected pilot being arrested . They are consulting with the military and members of its counterterrorism, bomb squad, emergency services and aviation units are working on a plan to counter weaponized drones. The NYPD hasn't received any intelligence indicating there is an imminent threat, but has become increasingly concerned over the last year. Deputy Chief Salvatore DiPace told CBS News:\xa0'We've looked at some people that have jury-rigged these drones to carry guns, to carry different types of explosives if they wanted to; there's just so many possibilities that we're very worried about.' Mr Dipace said police had also seen video showing how accurate an attack from a drone could be:\xa0'We've seen some video where the drone was flying at different targets along the route and very accurately hitting the targets with the paintball. The NYPD now sees a drone carrying explosives as the number one threat. Mr DiPace's concerns follow an incident in Germany last year where a drone was able to land just in front of German Chancellor Angela Merkel as she delivered a speech. The drone, circled, landed in front of Ms Merkel as she delivered a speech sin Germany sparking fears that the device could easily be used to commit a terrorist act . He said:\xa0'If you really think about what could have happened there, the drone hit its target right on the mark and could have took the chancellor and her people out.' There has been a dramatic increase of incidents involving drones in New York City in the last year, with 40 recorded. In some cases unmanned aircraft systems or drones had flown into airspace being used by NYPD helicopters. In one incident this summer, a drone which was almost 800 feet off the ground, nearly collided with a police helicopter. NYPD Aviation Unit Member, Sergeant Antonio Hernandez said: 'We're flying in the dark; we have night-vision goggles on, we're trying to get a job done and then the next thing you know we see this drone come up to our altitude.'"

In [6]:
df.iloc[0]['Summary']

'Police have investigated criminals who have rigged guns to drones .\nAnd are working with the military to develop technology to stop attacks .\nIncidents involving drones have drastically increased in New York City .\nLast year a drone was landed in front of German Chancellor Angela Merkel .'

In [7]:
df.isna().sum()

Unnamed: 0        0
ID            56216
Content          34
Summary           0
Dataset           0
dtype: int64

In [8]:
df.columns

Index(['Unnamed: 0', 'ID', 'Content', 'Summary', 'Dataset'], dtype='object')

In [9]:
df.drop(['Unnamed: 0','ID','Dataset'],axis=1,inplace=True)

In [10]:
df.head()

,Content,Summary
0,New York police are concerned drones could bec...,Police have investigated criminals who have ri...
1,By . Ryan Lipman . Perhaps Australian porn sta...,Porn star Angela White secretly filmed sex act...
2,"This was, Sergio Garcia conceded, much like be...",American draws inspiration from fellow country...
3,An Ebola outbreak that began in Guinea four mo...,World Health Organisation: 635 infections and ...
4,By . Associated Press and Daily Mail Reporter ...,A sinkhole opened up at 5:15am this morning in...

In [11]:
df.isna().sum()

Content    34
Summary     0
dtype: int64

In [12]:
# Drop rows where 'Content' is NaN
df_cleaned = df.dropna(subset=['Content'],inplace=True)

In [13]:
df

,Content,Summary
0,New York police are concerned drones could bec...,Police have investigated criminals who have ri...
1,By . Ryan Lipman . Perhaps Australian porn sta...,Porn star Angela White secretly filmed sex act...
2,"This was, Sergio Garcia conceded, much like be...",American draws inspiration from fellow country...
3,An Ebola outbreak that began in Guinea four mo...,World Health Organisation: 635 infections and ...
4,By . Associated Press and Daily Mail Reporter ...,A sinkhole opened up at 5:15am this morning in...
...,...,...
870516,The state of Oregon is ready to throw in the t...,Oregon is the only one of 16 states that has f...
870517,"MADRID, Spain (CNN) -- A 92-year-old woman wit...","Two women, both from Uruguay, arrested after a..."
870518,A day after a 40-year-old man miraculously sur...,– Rescuers in Niagara Falls still haven't foun...
870519,"By . Deni Kirkova . PUBLISHED: . 09:27 EST, 23...","Women browse, evaluate and shop through an onl..."
870520,"Tiago Rocha, 26, has confessed to killing 39 p...","Tiago Henrique Gomes da Rocha, 26, confessed t..."

In [14]:
df.isna().sum()

Content    0
Summary    0
dtype: int64

In [15]:
duplicates = df.duplicated().sum()
print(duplicates)

290323

In [16]:
df.drop_duplicates(inplace=True)

In [17]:
df.sample(5)

,Content,Summary
93572,The Richard Burnett collection of instruments ...,A collection of 70 historic keyboards belongin...
453832,Although such an event should have been predic...,A Japanese parliamentary panel has delivered a...
14149,"By . Tara Brady . PUBLISHED: . 13:16 EST, 31 J...",Baby Kian was lying on his changing mat at his...
230502,The White House plans to defy Congress and per...,The White House is mulling ways to fulfill the...
273145,The announcement that Hostess is closing forev...,– Day one of the post-Twinkie apocalypse bring...

In [18]:
df.to_csv('Content-Summary_CleanData.csv', index = False)

In [19]:
# ==================================================================================================================

In [20]:
df_clean = pd.read_csv('Content-Summary_CleanData.csv')

In [21]:
df_clean.head()

,Content,Summary
0,New York police are concerned drones could bec...,Police have investigated criminals who have ri...
1,By . Ryan Lipman . Perhaps Australian porn sta...,Porn star Angela White secretly filmed sex act...
2,"This was, Sergio Garcia conceded, much like be...",American draws inspiration from fellow country...
3,An Ebola outbreak that began in Guinea four mo...,World Health Organisation: 635 infections and ...
4,By . Associated Press and Daily Mail Reporter ...,A sinkhole opened up at 5:15am this morning in...

In [22]:
df_clean.isna().sum()

Content    0
Summary    0
dtype: int64

In [23]:
duplicates = df_clean.duplicated().sum()
print(duplicates)

0

In [24]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 580164 entries, 0 to 580163
Data columns (total 2 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   Content  580164 non-null  object
 1   Summary  580164 non-null  object
dtypes: object(2)
memory usage: 8.9+ MB

## We had 870k+ Rows of data , now after clearning it.
## now, we have 580k+ rows of data for our project

In [25]:
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords

In [26]:
stop_words = set(stopwords.words('english'))

In [27]:
for i in df[""]

SyntaxError: expected ':' (3831854675.py, line 1)

In [ ]:
tokenized_words =