In [1]:
import numpy as np
import pandas as pd

In [2]:
df= pd.read_csv("data.csv/summary_refined_dataset.csv")

In [3]:
df.head(10)

,Content,Summary
0,New York police are concerned drones could bec...,Police have investigated criminals who have ri...
1,By . Ryan Lipman . Perhaps Australian porn sta...,Porn star Angela White secretly filmed sex act...
2,"This was, Sergio Garcia conceded, much like be...",American draws inspiration from fellow country...
3,An Ebola outbreak that began in Guinea four mo...,World Health Organisation: 635 infections and ...
4,By . Associated Press and Daily Mail Reporter ...,A sinkhole opened up at 5:15am this morning in...
5,Jerusalem woke up on Tuesday to horrific image...,Two Palestinians carried out a deadly attack o...
6,An Australian father who is believed to have b...,Zia Abdul Haq is believed to be fighting in Sy...
7,A mother whose premature twins died while she ...,Jocelyn Bennett awoke from coma to discover he...
8,A community stalwart with an MBE has been spar...,"Rahmat Ali Raja, 75, dishonestly claimed benef..."
9,(CNN) -- Congress has moved to prevent money f...,House panel adds restrictions to stimulus bill...

In [11]:
df.isna().sum()

Content    0
Summary    0
dtype: int64

In [16]:
df.duplicated().sum()

0

In [14]:
df.drop_duplicates(inplace=True)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 580164 entries, 0 to 870484
Data columns (total 2 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   Content  580164 non-null  object
 1   Summary  580164 non-null  object
dtypes: object(2)
memory usage: 13.3+ MB

In [17]:
df.duplicated().sum()

0

In [18]:
df.to_csv("data.csv/summary_refined_dataset_no_duplicates.csv")

In [ ]:
df.